<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="nav_bar">
        <a href="">Standings</a>
        <a href="">Your Team</a>
        <a href="">Blog</a>
        <a href="">Logout</a>
    </nav>
    <h1>Create a Team </h1>
    <form action="" method="post">
        Team name: <input type="text" name="team_name"><br>
        <p>Team captain: - Insert jinja - </p>
        Shooter 2: <select name="member_1">
            <!-- for loop -->
            <option value="">user names</option>
        </select><br>
        Shooter 3: <select name="member_2">
            <!-- for loop  -->
            <option value="">user names</option>
        </select><br>
        <input type="submit" value="Create team">
    </form>
</body>
</html>