<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="nav_bar">
        <a href="">Your Team</a>
        <!-- put conditional if team is already created -->
        {% if session["role"] == 2 %}
        {% if user.team_id == None %}
        <a href="/create_team">Create Team</a>
        {% endif %}
        {% if user.team_id != None %}
        <a href="/review/{{user.team_id}}">View Team</a>
        {% endif %}
        {% endif %}
        <a href="">Blog</a>
        <a href="/user/logout">Logout</a>
    </nav>
    <p>standings</p>
</body>
</html>
